* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display : none;
}
/* Para usar medidas Rem: 1 rem equivale a 10px; */
html {
    font-size: 62.5%;
}
.vista, .vista2 {
    display: block;
}

#pag1 {
/* display: flex; */
    background-image: url(fondo_pokemon.jpg);
    background-repeat: round;
    background-size: 100%;
    width: 136rem;
    height: 63rem;
    display: grid;
    background-attachment: fixed;   
}

.principal__instucciones {
    color: #6200ff;
    font-family: "Titan One", Titan -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 2rem 5rem;
    height: 10rem;
}

  .instrucciones {
    width: 60%;
    margin: auto;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 5px;
    font-family: "Titan One","Cambria", Cambria;
    line-height: 125%;
    color: black;
    box-shadow: 0.7rem 1.3rem 3.7rem #000;
    background-position: right right;
    font-size: 2rem;
 }
    
  .botones {
    width: 0.5rem;
    height: 2rem;
    margin: 8rem;
    margin-bottom: 6rem;
    margin-left: 50%; 
    padding: 6rem;
    background: url(Ash-Ketchum.png);
    background-repeat: no-repeat;
    /* background-size: 20rem; */
    border-radius: 50%;
    color: #f6fa0f;
    text-align: left;
    font-size: 4.5rem;
    border:transparent;
    font-family: fantasy;
    font-style: normal;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
}
/*vista 2*/

 .div_container_play { 
    display:flex; 
    justify-content:flex-start;/*new*/
    align-items: center;    
    height: 63rem;
    width: 136rem;
    flex-flow: column;
    background-image: url(fondo_pokemon.jpg);
    background-repeat:round;
    background-size: 100%;
    /* flex-wrap: wrap;  */
    /* justify-content: space-between; */
    /* margin: 1rem; */    
}

.imgTitulo {
    display: block;
    text-align: center;
    justify-self:center;
    width: fit-content;
    height: 9rem;
}

.contenedor-cards {
    flex : 1;
    order : 1;
    text-align: end;
    display: grid;
    grid-template-columns: repeat(6,minmax(9rem , 1fr) );/*distribuye*/
    align-items: center;
    /* gap: 1rem; */
    /* grid-auto-flow: dense ;
    grid-auto-rows: 22rem; */
    grid-template-rows: 9rem 9rem 9rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 5rem;
    margin-inline: 1.25rem;
    padding: 1rem;
    border: 0.1rem transparent  rgb(228, 226, 198);
    height: 45rem;
    width: 90rem;
    background-size: 40rem;
    background-color: transparent;
    position: absolute;
}

.contenedor-cards{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 1s;/* el transform tarda 1s en rotar*/
}

.card.show{
    transform: rotateY(180deg);
}

.face {
    width: 15rem;
    padding: 0.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);/*siempre este rotado,de espalda*/
}

img {
    
    border-radius: 1rem;
    width: 12rem;  
}
.modal {
    margin: 7rem auto;
	padding: 2rem;
	background: #88f807;
	border-radius: 2rem;
	width: 60%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
/* #end{
    display: none;
} */